.header {
  background: #639;
  color: #fff;
  padding: 1rem;
  display: flex;
}

.logo {
  color: #fff;
  text-decoration: none;
  border: none;

  & > svg {
    display: block;
    width: 64px;
    height: 64px;
  }
}
